body{
    background-color: rgb(18, 36, 30);
}

.btn{
    height: 50px;
   
    background-color: blueviolet;
    padding: 10px;
    border-radius: 10px;
    color: white;
    font-weight: bolder;
    box-sizing: border-box;
}


nav{
    display: flex;
    column-gap: 10px;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;

}

#list{
    margin: 50px;

    background-color: snow;
    width: 1000px;
    height: 400px;
}