body{
    background-color: rgb(196, 224, 215);
}

.btn{
    height: 50px;
   
    background-color: blueviolet;
    padding: 10px;
    border-radius: 10px;
    color: white;
    font-weight: bolder;
    box-sizing: border-box;
}

li{
    color: steelblue;
    background-color: steelblue;
}


nav{
    display: flex;
    column-gap: 10px;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;

}

#list{
    margin: 50px;
    padding: 50px;
    display: flex;
    align-items: flex-end;
    column-gap: 2px;
    flex-direction: row;
    background-color: snow;
    list-style: none;
    
    height: 400px;
    border-radius: 20px;
}